#turtle-image {
  text-align: center;
  margin-top: 200px;
}

a.turtle {
  display: inline-block;
  height: 375px;
  width: 500px;
  background: url(../images/bir.jpg) no-repeat; 
  text-indent: 100%;
  white-space: nowrap;
  cursor: auto;
}

a.turtle { background-position: px px; }
a.turtle:hover { background-position: -500px 0px; }
a.turtle:active { background-position: -500px 0px; }