#turtle-image {
	text-align: center;
	padding-top: 60px;
}

a.turtle {
  display: inline-block;
  height: 180px;
  width: 180px;
  background: url(../images/turtle3.jpg) no-repeat; 
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 50%; 
  border: 1.5px solid grey;
}

a.turtle { background-position: -30px -20px; }
a.turtle:hover { background-position: ; }
a.turtle:active { background-position: ; }

#background {
  height: 30px;
  width: 100%;
  text-align: center;
  background: url(../images/29.jpg);
  border-top: 1px solid black;
  margin-top: 5px;
}

#pro {
	text-align: center;
	padding-top: 50px;
	margin: 0;
	color: black;
	font-family: 'Montserrat', sans-serif;
}

.projects {
	text-align: center;
	background-color: rgb(250, 212, 138);
	padding: 15px 0 15px 0;
	border-top: 3px solid rgb(205, 157, 34);

}

.projects a.buddy1 {
  display: inline-block;
  width: 150px;
  height: 150px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 50%; 
  border: 1px solid rgb(125, 125, 119);
}

  a.bari1, a.foodicon1, a.shadow1, a.me {
  display: inline-block;
  width: 150px;
  height: 150px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 30px;
  border: 1px solid rgb(125, 125, 119);
}

a.buddy1 {
  background: url(../images/buddy1.jpg) no-repeat;
}

a.bari1 {
  background: url(../images/Bari1.jpg) no-repeat;
}  

a.foodicon1 {
  background: url(../images/foodicon1.jpg) no-repeat;
} 

a.shadow1 {
  background: url(../images/shadow.jpg) no-repeat;
} 

a.me {
  background: url(../images/shane.jpg) no-repeat;
}

#background2 {
  height: 30px;
  width: 100%;
  text-align: center;
  background: url(../images/29.jpg);
  border-top: 4px solid rgb(205, 157, 34);
}

footer {
  font-family: 'Montserrat', sans-serif;
  font-size: 7px;
}
















